/* TBH I refactored just about everything... I changed the styling on most tags at least a little, I changed the organization of tags that didn't change and I added a nice background image and blur effect to the page to keep it a little more interesting */
:root {
	--header-footer-color: rgba(30, 30, 30, .8);
	--header-footer-font-color: #fff;
	--main-background: rgba(255, 255, 255, 0.3);
	--body-font-color: black;
}

body,
header,
main,
footer {
	display: flex;
	width: 1000px;
}

html {
	justify-content: center;
	display: flex;
	background-image: url(../img/arch_sunset.jpg);
	background-position: center;
}

body {
	font-family: Arial, sans-serif;
	justify-content: center;
	flex-direction: column;
	color: var(--body-font-color);
	margin: 0;
}

header {
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	background: var(--header-footer-color);
	backdrop-filter: blur(10px);
	color: var(--header-footer-font-color);
}


main {
	margin: 0;
	padding: 0;
	background: var(--main-background);
	backdrop-filter: blur(10px);
	padding: 1rem;
}

footer {
	margin-top: auto;
	text-align: center;
	padding: 1rem;
	background: var(--header-footer-color);
	backdrop-filter: blur(10px);
	color: var(--header-footer-font-color);
}

p {
	font-size: 1.1em;
}

.mainMap {
	display: inline-flex;
	float: right;
}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	height: 50px;
	margin-right: 1rem;
}

nav ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

nav ul li {
	margin-left: 1rem;
}

nav ul li a {
	color: var(--header-footer-font-color);
	text-decoration: none;
}

.content-section iframe {
	width: 630px;
	height: auto;
}

.content-section img {
	width: 500px;
	height: auto;
}

#visitorForm {
	display: flex;
	flex-wrap: wrap;
}

#visitorForm li {
	margin: 10px;
	padding: auto;
	margin-left: auto;
	list-style-type: none;
}

#contact {
	flex: 1 1 300px;
	margin: 10px;
}

.errorMsg {
	color: red;
	display: none;
}

input.was-validated:invalid {
	border: 1px solid red;
}

input.was-validated:valid {
	border: 1px solid green;
}


@media (max-width: 1000px) {

	html {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	body,
	header,
	main,
	footer {
		display: flex;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	nav ul {
		list-style: none;
		display: block;
		margin: 0;
		margin-right: 3em;
		padding: 0;
	}

	.content-section iframe {
		width: 60vw;
		height: auto;
	}

	.content-section img {
		width: 60vw;
		height: auto;
	}
}
