/* Implements a dark mode toggle */
:root {
	--header-footer-color: rgba(150, 150, 150, .8);
	--header-footer-font-color: #222;
	--main-background: rgba(0, 0, 0, 0.7);
	--body-font-color: lightgray;
}

html {
	background-image: url(../img/night_arch.jpg);
	background-size: 100vw;
}
