body {
  padding-top: 5rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

footer {
  background-color: #343a40;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.footer {
  margin: -.05em;
}

a.footer {
  color:#aaa;
  text-decoration: underline;
}

a.footer:hover {
  color:#ccc;
  text-decoration: underline;
}
